body
{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 80%;
}

form
{
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

label
{
	display: block;
}

label.checkbox
{
	display: inline;
}

input.input-number
{
	width: 70px;
	margin-bottom: 10px;
	border: 1px solid #cbcbcb;
	background-color: #ffffff;
}

.main-actions
{
	background-color: #eaeaea;
	border-top: 1px solid white;
	border-bottom: 1px solid #d6d6d6;
	float: left;
	clear: both;
	width: 100%;
}

.main-actions .inner
{
  padding: 12px 10px 12px 10px;
}

#editimage
{
	margin: 0 10px 10px 10px;
	position: relative;
	top: 0px;
	left: 0px;
	float: left;
	clear: both;
}

div.error,
div.buy-info,
div.info
{
	background-color: #ffc1c1;
	padding: 5px;
  float: left;
  width: 100%;
}

div.buy-info
{
	margin-bottom: 0;
}

div.error ul,
div.info ul
{
	list-style-type: square;
}

div.error li,
div.info li
{
	font-weight: bold;
	margin-bottom: 5px;
}

div.croparea
{
	background-color: #ffffff;
	filter:alpha(opacity=80);
	-moz-opacity:.80;
	opacity:.80;
	overflow: hidden;		
}

div#actionContainer
{
	background-color: #e1f3ff;
	background-image: url('../images/tab_body.png');
	background-repeat: repeat-x;
	float: left;
	clear: both;
	width: 100%;
}

div#menu
{
	height: 30px;
	overflow: hidden;
	font-weight: bold;
}

#menu h1
{
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.selected
{
	float: left;
	color: #000000;
	border-right: 1px solid #ffffff;
	line-height: 30px;
	padding: 0 20px 0 20px;
	cursor: pointer;
	height: 30px;
	background-image: url('../images/tab_selected.png');
	background-repeat: repeat-x;
}

.not-selected
{
	float: left;
	color: #ffffff;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	line-height: 30px;
	padding: 0 20px 0 20px;
	cursor: pointer;
	height: 29px;
	background-image: url('../images/tab_not_selected.png');
	background-repeat: repeat-x;
}

.panel
{
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
	display: none;                                                 
  float: left;
  clear: both;
  width: 100%;
}

.tabs
{
	margin: 0;
}

#image
{
	position: absolute;
	top: 0;
	left: 0;
}

#loading
{
	border-top: 1px solid white;
	background-color: #c7e7fc;
	padding: 15px;
	font-weight: bold;
	float: left;
	width: 100%;
}

#imageResizerKeepProportions,
#imageResizerNoProportions
{
	background-color: #d6d6d6;
	position: absolute; 
	left: 0px; 
	top: 0px;
	filter:alpha(opacity=0);
	-moz-opacity:.0;
	opacity:.0;	
}

.help
{
	background-color: #fffcd1;
	line-height: 1.5em;
	padding: 10px;
	border: 1px solid #d8d8d8;
}

.help .header
{
	font-weight: bold;
	text-transform: uppercase;
}

#actions
{
	display: none;
}

#menu-as-select-container 
{
  display: none;
}

/** RESIZE **/
#panel_0
{
  margin-bottom: 20px;
}

#panel_0 .field,
#panel_0 .help 
{
  float: left;
}

#panel_0 .help 
{
  margin-top: 20px;
  margin-left: 20px;  
}

#panel_0 .fields .field.width,
#panel_0 .fields .field.height 
{
  float: left;
  clear: none;
}

#panel_0 .fields .field.width 
{
  margin-right: 20px;
  margin-bottom: 5px;
}

#panel_0 .fields .field.keepproportions 
{
  padding-top: 0;
  clear: both;
}

#panel_0 .fields 
{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

/** ROTATE **/
#panel_1 .fields,
#panel_1 .field 
{
  float: left;
}

#panel_1 .fields 
{
  margin: 20px;
}

#panel_1 #btnRotateLeft 
{
  margin-right: 10px;
}

/** CROP **/
#panel_2 .field,
#panel_2 .help,
#panel_2 .fields
{
  float: left;
}

#panel_2 .fields .field.cropx 
{
  clear: left;
  margin-bottom: 5px;
}

#panel_2 .fields .field.cropx input 
{
  margin-right: 30px;
}

#panel_2 .fields .field.cropwidth 
{
  margin-bottom: 5px;
}

#panel_2 .fields .field.cropwidth input 
{
  margin-right: 30px;
}

#panel_2 .fields .field.crop-settings 
{
  clear: both; 
  margin-bottom: 10px;
}

#panel_2 .help
{
  margin-top: 20px;
  margin-left: 20px;
}

#panel_2 .field
{
  padding: 0;
}

#panel_2 .fields
{
  margin-left: 20px;
  margin-top: 20px;
}

/** EFFECTS **/
#panel_3 .field,
#panel_3 .help,
#panel_3 .fields
{
  float: left;
}

#panel_3 .field
{
  clear: both;
  width: 100%;
}

#panel_3 .field.brightness,
#panel_3 .field.contrast
{
  margin-bottom: 25px;
}

#panel_3 .fields
{
  width: 401px;
  margin: 20px;
}

/** SMARTPHONES **/
@media screen and (max-width: 480px)
{
  #menu-as-select-container 
  {
    background-color: #497cae;
    margin-bottom: 1px;
    display: block;
    padding: 5px;
  }
  div#menu,
  .help
  {
    display: none;
  }
	div#actionContainer
	{
	  padding-top: 5px;
    padding-bottom: 5px;
	  
	}
	#editimage 
	{
	  margin: 0;
	}	
	.main-actions .inner
	{
    padding: 5px;
	}
	input[type=button] 
	{
	    font-size:80%;
	}	
	/** RESIZE **/
	#panel_0
	{
	  margin-bottom: 5px;
	}
	#panel_0 .fields 
	{
	  margin-left: 5px;
	  margin-top: 5px;
	}
  /** ROTATE **/
  #panel_1 .fields 
  {
      margin: 5px;
  }
  /** CROP **/
	#panel_2 .fields
	{
	  margin-left: 5px;
	  margin-top: 5px;
	}
	#panel_2 .fields .field.crop-settings {
	  margin-bottom: 5px;
	}
	/** EFFECTS **/
	#panel_3 .fields
	{
	  width: 205px;
	  margin: 5px;
	}
  #panel_3 .ui-slider-horizontal 
  { 
    width: 100%;
  }
}